includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Instanceof between \$this\(Divel\\ResourcePermissions\\ResourcePermissionsServiceProvider\) and Illuminate\\Http\\Resources\\Json\\ResourceCollection will always evaluate to false.#'
        - '#Access to an undefined property Divel\\ResourcePermissions\\ResourcePermissionsServiceProvider::\$resource.#'
